.required::after {
    content: '*';
    color: red;
    margin-left: 4px;
}

.swal2-container {
    z-index: 9999;
}

.question-answers .v-selection-control-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

